
/*************/
/***FOOTER***/
/***********/

.footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    position: initial;
    position: fixed;
    bottom: 0;
    /* top: 95%; */
    /* left: 0; */
}

/********************/
/***FOOTER ELEMENT***/
/******************/
.footer_element{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.footer_element_random_note{
    padding-left: 20%;
    padding-right: 20%;
    font-family: "ubuntu";
    color: aliceblue;
    position: relative;
    left: 5%;
}

.footer_element_copyright{
    font-family: "ubuntu";
    color: aliceblue;
    position: relative;
    left: 10%;
}