/*************/
/****BASE****/
/***********/

@font-face {
    font-family: "ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../Ressources/images/Network.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}